@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* variables */
:root{
    --primary-bg: #ffffff;
    --secondary-bg: #f3f4f6;
    --hover-bg: #ffffff;
  
    --primary-text: #000000;
    --secondary-text: #2d3748;
    --tertiary-text: #5f6c80;
  
    --shadow-color: rgba(0, 0, 0, 0.2);
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* base styles */
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--primary-bg);
    color: var(--primary-text);
}
img, a{
    display: inline-block;
}
.body-container{
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    overflow-x: hidden;
}

.button{
    display: inline-block;
    margin: 1rem auto;
    padding: 1rem 2rem;
    border: 2px solid var(--primary-text);
    min-width: 14rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase; 
    transition: all 0.3s ease-in-out;
}

.button-primary{
    background-color: var(--primary-text);
    color: var(--primary-bg);
}
.button-primary:hover{
    opacity: 0.8;
}

.button-secondary{
    background-color: var(--primary-bg);
    color: var(--primary-text);
}
.button-secondary:hover{
    background-color: var(--primary-text);
    color: var(--primary-bg);
}

/* fonts */
.nav-logo, .footer-heading{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-text);
    transition: color 0.25s ease-in;
}
.nav-logo:hover{
    color: var(--tertiary-text);
}
.nav-item{
    color: var(--tertiary-text);
    margin: 0.5rem auto;
}
.text-highlight{
    color: var(--primary-text);
    font-weight: 500;   
}

/* mobile styles */
.site-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem;
    max-width: 100%;
}

.site-nav .nav-menu{
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    min-height: 70vh;
}
.display-pic{
    height:8rem;
    width: 8rem;
    margin: 1rem 0;
    border-radius: 100%;
    filter: drop-shadow(0 0 0.5rem black);
}
.intro-title{
    color: var(--secondary-text);
    font-size: 1.35rem;
    text-align: center;
    margin-top: 1rem;
}
.intro-heading{
    color: var(--primary-text);
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0rem;

}
.intro-subheading{
    color: var(--tertiary-text);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 2rem;
}


.feature-image-container{
    margin: 1rem 0;
}
.feature-image-container img{
    width: 100%;
    max-width: 500px;
    border-radius: 0.2rem;
}
.feature-heading{
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}
.feature-content, .contact-content, .contact-subheading{
    color: var(--secondary-text);
    line-height: 2rem;
    margin: 1rem 0;
}

.contact-heading{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem auto;
}
.contact-content, .contact-subheading{
    text-align: center;
}
.social-link-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem 0rem;
    width: 100%;
    max-width: 200px;
}
.email{
    text-decoration: underline;
}


.footer-container{
    background-color: var(--secondary-bg);
    min-height: 50vh;
    padding: 2rem 0;
    justify-content: space-between;

}
.footer-heading{
    color: var(--secondary-text);
    font-size: 1.3rem;
}
.footer-nav-container{
    margin: 2rem auto;
}
.footer-nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}




/* small tablet styles */
@media screen and (min-width: 620px){

}


/* large tablets and laptops */
@media screen and (min-width: 960px){
    
}



/* desktop styles */
@media screen and (min-width: 1200px){
    
}