 .container-5{
    border:1px solid black;
    margin: auto;
    text-align: center;
    width: 75%;
}
.flex-blackjack-row1, .flex-blackjack-row2, .flex-blackjack-row3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;/*various flexbox properties*/
    flex-direction: row;
    justify-content: space-around;
    /*flex-direction:column,row, column-reverse, row-reverse */
}/*check container 2 for flex properties*/


.flex-blackjack-row1{
    background:url("https://i.ebayimg.com/images/g/6kUAAOxyqKVRiKt0/s-l400.jpg") center;
    color: #ffffff; 
}
.flex-blackjack-row2{
    background:url("https://i.ebayimg.com/images/g/6kUAAOxyqKVRiKt0/s-l400.jpg") center;
}
.flex-blackjack-row1 div{
    border: 1px solid black;
    padding: 10px;
    height: 350px;
    flex: 1; /*equal amount of priority for both*/
    text-align: center;
}
.flex-blackjack-row2 div{
    border: 1px solid black;
    padding: 10px;
}

.flex-blackjack-row2 button{
    border: 1px solid black;
    padding: 10px;
}

.table,th,td{
    padding:5px;
    border: 1px solid black;
}

.flex-blackjack-row1 img{ /*really important without this the cards would just go out of bounds*/
    width:25%;
    padding:10px;
}
